#!/usr/bin/env bash

HATCH_BIN="$(command -v hatch)"
if [ -z "${HATCH_BIN}" ]
then
  pipx install hatch
  HATCH_BIN="$(command -v hatch)"
fi

## Create a default test environment with a local softlink for simple IDE integration
HATCH_ENV="hatch-test.py3.12"
VIRTUAL_ENV=$(hatch env find ${HATCH_ENV})

if [[ ! -d ${VIRTUAL_ENV} ]]; then
  log_status "No virtual environment exists. Executing \`hatch env create ${HATCH_ENV}\` to create one."
  hatch env create ${HATCH_ENV}
fi
PATH_add "${VIRTUAL_ENV}/bin"
export VENV_ACTIVE=1
export VIRTUAL_ENV

## For simple IDE integration as default python with test dependencies
ln -vfns "${VIRTUAL_ENV}" venv
